/* @import url('https://font.googleapis.com/family?='); */

:root{
    --primary-green: #10ac84;
    --primary-blur-blue: blue;
    --primary-blue: #2e86de;
    --primary-black: #24252a;
    --primary-white: aliceblue;
    --primary-h2-color: #063146;
    --background: #042331;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
section{
    padding: 100px;
}
section h2{
    font-size: 3em;
    color: var(--primary-h2-color);
    margin-bottom: 10px;
}
section h2 span{
    display: block;
    font-size: 0.5em;
    color: #ff4983;
    margin-top: 10px;
}
section p{
    margin-top: 20px;
    font-size: 1.2em;
}
.preloader{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #070707;
    z-index: 1000000;
}
.preloader::before{
    content: 'Loading';
    position: absolute;
    font-size: 12em;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .03);
}
.preloader.active{
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}
.counter{
    position: relative;
    color: #fff;
    font-size: 16em;
    font-weight: 700;
    z-index: 1;
}
.counter::after{
    content: '%';
    font-size: 0.5em;
}
.hide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
.text{
    text-align: justify;
    text-indent: 5%;
    letter-spacing: 1.5px;
}

/* footer starts here */
footer{
    padding: 5rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}
.back-to-top{
    width: 4rem;
    height: 4rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
}
.back-to-top i{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    animation: up 2s infinite;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}
.footer-content .asterisk{
    margin: 2.4rem 0;
}
.footer-content-about{
    margin-bottom: 5.4rem;
}
.footer-content-about p{
    line-height: 2;
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: 0.5;
    transition: color 0.5s;
}
.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color);
}
.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
}


/* Animations */
/* @keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360%);
    }
}
@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
} */
@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}
/* media qureies start here */
/* @media screen and (min-width: 767px){
   
} */


/* Footer ends here */

@media (max-width: 767px){
    section{
        padding: 80px 40px;
    }
    section h2{
        font-size: 1.5em;
    }
    section h2 span{
        font-size: 0.5em;
        margin-top: 5px;
    }
    section p{
        margin-top: 10px;
        font-size: 1em;
    }
    .preloader::before{
        font-size: 5em;
        font-weight: 700;
    }
    .counter{
        font-size: 10em;
        font-weight: 700;
    }
    .counter::after{
        font-size: 0.3em;
    }
    /* footer media query */
    /* section{
        padding: 7.9rem;
    } */
    /* .menu-toggle{
        display: none;
    } */
    /* .nav{
        justify-content: space-between;
    } */
    /* .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 1.3rem;
    } */
    /* .active{
        position: relative;
    }
    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
    .sub-headline{
        font-size: 10rem;
    }
    .first-letter{
        font-size: 12.2rem;
    }
    .headline{
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }
    .line{
        max-width: 11.4rem;
    }
    .restaurant-info{
        display: flex;
        align-items: center;
    }
    .restaurant-info > div{
        flex: 1;
    }
    .padding-right{
        padding-right: 7rem;
    } */
    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }
    .footer-content-divider{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 3rem;
    }
    .social-media,
    .newsletter-form{
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }
    .social-icons i{
        opacity: 1;
    }
    .newsletter-btn{
        margin-left: 7.5rem;
    }
}
