:root{
    --primary-green: #10ac84;
    --primary-blur-blue: blue;
    --primary-blue: #2e86de;
    --primary-black: #24252a;
    --primary-white: aliceblue;
    --primary-h2-color: #063146;
    --background: #042331;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* list-style: none; */
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.typeWriter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    color: var(--primary-white);
    font-size: 22px;
    line-height: 70px;
    background: var(--primary-h2-color);
    user-select: none;
    z-index: 2;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: var(--background);
    transition: all .5s ease;
    z-index: 2;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: var(--primary-h2-color);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
.sidebar ul li:hover a{
    padding-left: 50px;
    background-color: var(--primary-h2-color);
    opacity: 0.7;
}
.sidebar ul a img, .sidebar ul a i{
    margin-right: 16px;
    max-width: 30px;
    max-height: 40px;
    font-size: 24px;
    color: var(--primary-blue);
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: fixed;
    cursor: pointer;
    background: var(--background);
    border-radius: 3px;
    max-width: 40px;
    max-height: 40px;
    z-index: 1000;
}
label #btn{
    left: calc(100% - 95%);
    top: 20px;
    font-size: 35px;
    color: white;
    padding: 3px 6px;
    /* z-index: 5; */
    /* transition: all 0.5s ease; */
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s ease;
}
label #btn:active, label #cancel:active{
    transform: scale(0.8);
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}
section.text{
    /* position: fixed; */
    background: url("../img/1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    transition: all 0.5s;
    line-height: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 500;
}
@media (max-width: 767px){
    .typeWriter{
        font-size: 18px;
    }
    .sidebar{
        left: -250px;
        width: 250px;
        /* width: calc(100% - 300px); */
    }
    .sidebar header{
        font-size: 16px;
    }
    .sidebar ul a{
        font-size: 16px;
        padding-left: 20px;
    }
    .sidebar ul li:hover a{
        padding-left: 30px;
    }
    .sidebar ul a img{
        margin-right: 16px;
        max-width: 40px;
        max-height: 40px;
    }
    #check{
        display: none;
    }
    label #btn, label #cancel{
        position: fixed;
        cursor: pointer;
        background: #042331;
        border-radius: 3px;
        max-width: 40px;
        max-height: 40px;
    }
    label #btn{
        left: calc(100% - 95%);
        top: 20px;
        font-size: 35px;
        color: white;
        padding: 3px 6px;
        z-index: 5;
    }
    label #cancel{
        z-index: 1111;
        left: -100px;
        top: 17px;
        font-size: 30px;
        color: #0a5275;
        padding: 4px 9px;
        transition: all 0.5s ease;
    }
    #check:checked ~ .sidebar{
        left: 0;
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        left: 195px;
    }
    #check:checked ~ section{
        margin-left: 250px;
    }
    section.text{
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        transition: all 0.5s;
    }
}