*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #647df9;
    padding: 20px;
}
.container{
    max-width: 1099px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .card{
    width: calc(33% - 20px);
    background: #fff;
    text-align: center;
    padding: 15px 30px 30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .card .top{
    height: 130px;
    color: #fff;
    padding: 12px 0 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}
.container .card .top .title{
    font-size: 27px;
    font-weight: 600;
}
.container .card .top .price-sec{
    margin-top: -10px;
}
.container .card .top .price-sec .price{
    font-size: 45px;
}
.container .card .info{
    font-size: 16px;
    margin-top: 20px;
}
.container .card .details .plan{
    margin-top: 25px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container .card .details .plan::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: #ddd;
    top: -12px;
}
.container .card .plan i{
    color: #2db94d;
}
.container .card .plan i.fa-times{
    color: #cd3241;
}
.container .card button{
    outline: none;
    border: none;
    height: 42px;
    display: block;
    margin-top: 30px;
    width: 100%;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container .one .top,
.container .one button{
    background: #14eb6e;
}
.container .two .top,
.container .two button{
    background: #e87130;
}
.container .three .top,
.container .three button{
    background: #118cc3;
}
.container .card button:hover{
    filter: brightness(90%);
}
@media (max-width: 1000px){
    .container .card{
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}
@media (max-width: 715px){
    .container .card{
        width: 100%;
    }
}