* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  background: #20b2aa;
}
.pagination ul {
  display: flex;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
}
.pagination ul li {
  color: #20b2aa;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pagination ul li.numb {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}
.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn {
  /* background: #20b2aa; */
  padding: 0 20px;
}
.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
}
.pagination ul li.next {
  border-radius: 5px 25px 25px 5px;
}
.pagination ul li.active,
.pagination ul li.btn:hover,
.pagination ul li.numb:hover {
  color: #fff;
  background: #20b2aa;
}
