:root{
    --body-font: Arial, Helvetica, sans-serif;
    --primary-green: #10ac84;
    --primary-blur-blue: blue;
    --primary-blue: #2e86de;
    --primary-black: #24252a;
    --main-black: #121212;
    --primary-white: aliceblue;
    --primary-h2-color: #063146;
    --background: #042331;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-white);
    color: var(--primary-blue);
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 50px;
}

ul{
    list-style: none;
    padding: 0;
}

.brand{
    text-align: center;
}

.brand span{
    color: var(--primary-white);
}

.wrapper{
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.wrapper > *{
    padding: 1em;
}
.company-info{
    background: var(--primary-h2-color);
}

.company-info h3, .company-info ul{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact{
    background: var(--primary-blue);
    color: var(--background);
}

/* form style */
.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label{
    display: block;
}

.contact form p{
    margin: 0;
}

.contact form .full{
    grid-column: 1/3;
}

.contact form button, .contact form input, .contact form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
    border-radius: 10px;
}

.contact form button{
    background: var(--background);
    border: 0;
    font-weight: 700;
    color: var(--primary-white);
    text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
    background: var(--primary-white);
    color: var(--primary-h2-color);
    font-weight: 700;
    outline: 0;
    transition: background 0.7s ease-in-out;
}
.alert{
    text-align: center;
    padding: 10px;
    background-color: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

/* large screens */
@media(min-width: 700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: 5px;
    }
    .wrapper > *{
        padding: 2em;
    }

    .company-info h3, .company-info ul, .brand{
        text-align: left;
    }
}